{# app/Resources/views/Emails/registration.html.twig #}
<h3>Félicitation {{ name }}, votre projet "{{ titre }}"est validé</h3>

{# example, assuming you have a route named "login" #}
<h4> Nous allons vous recontacter pour plus de détails..</h4>

<h4>En attendant vous pouvez aller voir l'état de vos autres projets <a href="{{ path('gestion_projet_home_platform_view_own_propositions') }}"> ici </a> </h4>

<h4>Vous pouvez également proposer d'autres projet <a href="{{ path('gestion_projet_home_platform_propositionPage') }}"> ici </a> </h4>