{# app/Resources/views/Emails/registration.html.twig #}
<h3>Monsieur/Madame {{ name }}, nous aovns le regret de vous annoncer que votre projet "{{ titre }}" n'a pas été retenu </h3>

{# example, assuming you have a route named "login" #}

<h4>Vous pouvez aller voir l'état de vos autres projets <a href="{{ path('gestion_projet_home_platform_view_own_propositions') }}"> ici </a> </h4>

<h4>Vous pouvez également proposer d'autres projet <a href="{{ path('gestion_projet_home_platform_propositionPage') }}"> ici </a> </h4>