<!DOCTYPE HTML>

<html>
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}Platforme de gestion de projets{% endblock %}</title>


    {% block stylesheets %}
        <link rel="stylesheet" href=" {{ asset('bundles/gestionprojethomeplatform/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/layout.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic,700,300italic,300' rel='stylesheet' type='text/css'>
    {% endblock %}




</head>

<body>

<script>

</script>





<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2  sidebar">


            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav nav-sidebar" id="navTop">
                    <li>


                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-labelledby="dropdownMenu1" role="button" aria-haspopup="true" aria-expanded="false">
                            <div id="headerSideBar" class="dropdown">
                                <h3>ENSICAEN <span class="caret"></span></h3>
                                <h5><span class="glyphicon glyphicon-user"></span>{{ app.user.username }}</h5>
                            </div>

                        </a>
                        <div id="extraContent"></div>




                    </li>
                </ul>
            {% else %}

                <div id="headerSideBar" class="dropdown"  >
                    <h3>ENSICAEN</h3>
                    <a id="connexionLink" href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-lock"></span>Connexion</a>
                </div>

            {% endif %}


            <br>
            <br>

            <ul class="nav nav-sidebar">

                <li id="acc" class="liSidebar"><a href="{{ path('gestion_projet_home_platform_homepage') }}"><span class="glyphicon glyphicon-home"></span>Accueil</a></li>
                <li id="mod" class="liSidebar"><a href="{{ path('gestion_projet_home_platform_modalites') }}"><span class="glyphicon glyphicon-cog"></span>Modalités pour proposer un projet</a></li>
                <li id="prop" class="liSidebar"><a href="{{ path('gestion_projet_home_platform_propositionPage') }}"><span class="glyphicon glyphicon-plus"></span>Proposer un projet</a></li>
                {% if is_granted('ROLE_USER') %}


                {% else %}

                    <li id="ask"><a href="{{ path('gestion_projet_home_platform_askingpage') }}"><span class="glyphicon glyphicon-comment"></span>Demander la création d'un compte</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li id="separator"> Gestion </li>
                                <li><a href="{{ path('gestion_projet_home_platform_view_propositions') }}"><span class="glyphicon glyphicon-th-list"></span> Consulter les stages proposés ({{ getNumberOfPending() }} en attente)<span class="text-muted"></span> </a></li>
                                <li><a href="{{ path('gestion_projet_home_platform_view_account') }}"><span class="glyphicon glyphicon-tags"></span> Consulter la liste des entreprises</a></li>
                                <li><a href="{{ path('gestion_projet_home_platform_view_ask') }}"><span class="glyphicon glyphicon-copy"></span> Demandes de création de compte </a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-tag"></span> Ajouter un compte</a></li>
                            {% endif %}
                    <li><a href="{{ path('gestion_projet_home_platform_view_own_propositions') }}"><span class="glyphicon glyphicon-list-alt"></span> Voir mes propositions de projets</a></li>



                {% endif %}




            </ul>
        </div>
    </div>


</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

{%block body%}
    </div>
{%endblock%}
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/gestionprojethomeplatform/js/jquery-2.1.4.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{ asset('bundles/gestionprojethomeplatform/js/jquery-2.1.4.js') }}"><\/script>')</script>
<script src="{{ asset('bundles/gestionprojethomeplatform/js/bootstrap.min.js')}}"></script>




<script>

    if(document.location.href == "http://127.0.0.1:8000/home/modalites") {
        $(".nav").find("#mod").addClass("active");
    }
    if(document.location.href == "http://127.0.0.1:8000/home") {
        $(".nav").find("#acc").addClass("active");
    }
    if(document.location.href == "http://127.0.0.1:8000/home/proposition") {
        $(".nav").find("#prop").addClass("active");
    }

    $(document).on('click', '.panel-heading span.clickable', function(e){
        var $this = $(this);
        if(!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })




    var champsToAdd =
        "<ul> <li><a href='{{ path("fos_user_change_password") }}'> <span class=' glyphicon glyphicon-wrench'></span>Changer de mot de passe</a></li>" +
    "                       <li><a href='{{ path("fos_user_security_logout") }}'><span class='glyphicon glyphicon-minus'></span>Déconnexion</a> </ul>";
        $('#navTop').on('click', function () {
            if(document.getElementById("extraContent").innerHTML ==""){
                document.getElementById("extraContent").innerHTML =  champsToAdd;
            }
            else{
                document.getElementById("extraContent").innerHTML =  "";
            }

        });


</script>


</body>


</html>
