<!DOCTYPE html>
<html>
<head>
   <!-- HTML meta refresh URL redirection -->
   <meta http-equiv="refresh"
   content="0; url={{ path('gestion_projet_home_platform_homepage') }}">
</head>
<body>
</body>
</html>
