{% trans_default_domain 'FOSUserBundle' %}

<div class="container col-md-offset-3">


    <h2 class="col-md-offset-2">Changement de mot de passe </h2></br>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal form-prop' } }) }}
    {{ form_widget(form) }}

    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}



    </div>
