body {
    color: #4B77BE;
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
}

p{
    font-family: "Times New Roman";
}

.panel-title{
    font-family: "Open Sans";
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
}


.lead, .infoMod{
    font-family: 'Lato',sans-serif;
    font-style: italic;
    font-weight: 400;
}

.panel-body{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    color: #023c74;
}

#separator{
    padding-left: 15px;
    font-size: large;
    color : white;
    font-weight: 600;
}







.starter-template {
    padding: 50px 15px;
    text-align: center;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background-color: #023c74 !important;
    color: #ECF0F1 !important;
    text-decoration: none;
}

#extraContent > ul>li > a,
#extraContent > ul>li > a:hover,
#extraContent > ul>li > a:visited{
    color: white;
}

#extraContent > ul >li{
    list-style-type:none;
}

.glyphicon{
    margin-right: 15px;
}





.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 500px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;

        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #01579b;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

}


.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color : white;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #023c74;
    background-color: #ffffff;
}

.nav-sidebar > li > a:active{
    background-color: red;
}

#headerSideBar{
    color: white;
    font-weight: bolder;

}

li > a {
    color :white;
}

#headerSideBar > a:hover,
#headerSideBar > a:visited,
#headerSideBar> a:active{
    color: #FFFFFF;
    text-decoration: none;
}



#headerSideBar > a{
    color: #FFFFFF;
    text-decoration: none;
}


li > a:hover{
    color :white;
    text-decoration: none;
}
#connexionLink{
    color :white;
}

#connexionLink:hover{
    color : white;
    font-size: 110%;
    text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #023c74;
}

.orange{
    background-color: #ff8900;
    color: #FFFFFF;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.homelink,
.homelink:visited{
    color : darkslategray;
    text-decoration: none;
}

.homelink:hover{
    background-color: #023c74;
    color :white;
    text-decoration: none;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color :#023c74;
}

h4{
    text-align:center;
    font-family: 'Lato';

}



