{% trans_default_domain 'FOSUserBundle' %}

<div class="container col-md-offset-3">

    <h1 class="col-md-offset-2">Ajouter un compte utilisateur </h1></br>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'},'attr': {'class': 'form-group'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

    </div>