<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/reset.css')}}">
	<link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/style.css')}}">
	
	<script src="{{ asset('bundles/HomePlatformBundle/js/modernizr.js')}}"  ></script> <!-- Modernizr -->

	<title>ENSICAEN - Proposition  de projet</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content mask">

		<h1 data-content="Formulaire de connexion"><span>Formulaire de connexion</span></h1>
		<div class="action-wrapper">
			{% trans_default_domain 'FOSUserBundle' %}

			{% block fos_user_content %}
				{% if error %}
					<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<div class="container col-md-offset-3">





					<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

						<div class="form-group">

							<div class="col-sm-10 col-md-4">
								<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Login"/>
							</div>
						</div>

						<div class="form-group col-">

							<div class="col-sm-10 col-md-4">
								<input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password"/>
							</div>
						</div>

						<div class="form-group">


							<div class="col-sm-10 col-md-">
								<label for="remember_me" class="col-sm-2 control-label">{{ 'security.login.remember_me'|trans }}</label>
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<input type="submit" id="_submit" name="_submit"  value="{{ 'security.login.submit'|trans }}" />

							</div>
							<a class="whiteForm"href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
						</div>
					</form>




				</div>

			{% endblock fos_user_content %}
		</div>
	</div>
</section>

<script src="{{ asset('bundles/HomePlatformBundle/js/jquery-2.1.4.js')}}"></script>
<script src="{{ asset('bundles/HomePlatformBundle/js/js/main.js')}}"></script> <!-- Resource jQuery -->
</body>
</html>


