





<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href=" {{ asset('bundles/gestionprojethomeplatform/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/reset.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/style.css')}}">


    <script src="{{ asset('bundles/HomePlatformBundle/js/modernizr.js')}}"  ></script> <!-- Modernizr -->

    <title>ENSICAEN - Proposition  de projet</title>
</head>
<body>
<section class="cd-intro">
    <div class="pull-left"><span class="glyphicon glyphicon-remove "></span> </div>
    <div class="cd-intro-content mask">

        <h1 data-content="Demande de création de compte "><span>Demande de création de compte</span></h1>
        <div class="action-wrapper">
            {% trans_default_domain 'FOSUserBundle' %}

            {% block fos_user_content %}


                <div class="">





                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-group">
                        <label for="name" class=""> Entreprise ou établissement  </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Nom</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.nom,{'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Prénom</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary col-sm-3 col-sm-offset-2'}}) }}
                    </div>



                    {{ form_end(form) }}




                </div>

            {% endblock fos_user_content %}
        </div>
    </div>
</section>

<script src="{{ asset('bundles/HomePlatformBundle/js/jquery-2.1.4.js')}}"></script>
<script src="{{ asset('bundles/HomePlatformBundle/js/js/main.js')}}"></script> <!-- Resource jQuery -->
</body>
</html>



