{% block hearderproposition %}
    <table class="table table-striped">

        <tr>
            <th> Entreprise</th>
            <th> Intitulé du projet</th>
            <th> Proposé le</th>
            <th> Description</th>
            <th> Status</th>
            <th> Détails</th>
        </tr>


        {% for proposition in listProposition %}
            <tr>
                <td> {{ proposition.entreprise }} </td>
                <td> {{ proposition.intituleProjet }} </td>
                <td> {{ proposition.insertDate|date("m/d/Y") }}</td>
                <td> {{ proposition.description }} </td>
                {% if  proposition.valide  == 0 %}
                    <td>
                        <button type="button" class="btn btn-info">En attente</button>
                    </td>
                {% endif %}
                {% if proposition.valide  == 1 %}
                    <td>
                        <button type="button" class="btn btn-success">Validé</button>
                    </td>
                {% endif %}

                {% if proposition.valide  == 2 %}
                    <td>
                        <button type="button" class="btn btn-danger">Refusé</button>
                    </td>
                {% endif %}
                <td><a href="{{ path('gestion_projet_home_platform_propostion_in_detail', {'id': proposition.id}) }}">
                        <button type="button" class="btn btn-default">Voir détails &raquo;</button>
                    </a></td>


            </tr>
        {% endfor %}
    </table>
{% endblock %}