{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

  <div class="container  col-md-12 col-lg-12">

      <div class="starter-template">
          <img id=logoensi" src="{{ asset('bundles/HomePlatformBundle/images/logoensi.jpg') }}" align="center" height="100" >
        <h1>Proposer un projet à l'ENSICAEN en <span style="background-color: #2b669a; color: white"> 3  étapes </span></h1>


      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"> <span class="glyphicon glyphicon-cog"></span> Création de compte. <span class="text-muted"> Remplissez <a class="homelink" href="{{ path('gestion_projet_home_platform_askingpage') }}">ce formulaire</a></span></h2>
              <p class="lead">Avant de pouvoir proposer un sujet de projet, il vous faut un compte, remplissez le formulaire et attendez de recevoir un mail de confirmation avec vos idenifiants.</p>
          </div>
          <div class="col-md-5">
              <a href="{{ path('gestion_projet_home_platform_askingpage') }}"><img class="featurette-image img-responsive center-block"  alt="Generic placeholder image" src="{{ asset('bundles/HomePlatformBundle/images/one.png') }}" height='200' width="200">
          </a>
          </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
              <h2 class="featurette-heading"> <span class="glyphicon glyphicon-lock"></span> Connectez vous ! <span class="text-muted"> <a class="homelink" href="{{ path('fos_user_security_login') }}"> Page de connexion</a></span></h2>
              <p class="lead"> A partir de maintenant vous allez pouvoir faire des propositions de projet.</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{{ asset('bundles/HomePlatformBundle/images/two.png') }}" height='200' width="200">
          </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading"> <span class="glyphicon glyphicon-th-list"></span>Remplissez les formulaires de propositions.<span class="text-muted"> Et voilà !</span></h2>
              <p class="lead">Remplissez <a href="{{ path('gestion_projet_home_platform_propositionPage') }}" class="homelink"  > le formulaire</a> et vous serez notifié quand la proposition de projet aura été acceptée.</p>
          </div>
          <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="{{ asset('bundles/HomePlatformBundle/images/three.png') }}" height='200' width="200">
          </div>
      </div>

    </div>

{% endblock %}


