<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/reset.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/HomePlatformBundle/css/style.css')}}">
    <script src="{{ asset('bundles/HomePlatformBundle/js/modernizr.js')}}"  ></script> <!-- Modernizr -->

    <title>ENSICAEN - Proposition  de projet</title>
</head>
<body>
<section class="cd-intro">
    <div class="cd-intro-content mask">
        <h1 data-content="Propostion de stages à l'ENSICAEN"><span>Propostion de stages à l'ENSICAEN</span></h1>
        <div class="action-wrapper">
            <p>
                <a href="{{ path("gestion_projet_home_platform_propositionPage") }}" class="cd-btn main-action">Proposer un stage</a>
                <a href="{{ path("gestion_projet_home_platform_modalites") }}" class="cd-btn">En savoir plus</a>
            </p>
        </div>
    </div>
</section>

<script src="{{ asset('bundles/HomePlatformBundle/js/jquery-2.1.4.js')}}"></script>
<script src="{{ asset('bundles/HomePlatformBundle/js/js/main.js')}}"></script> <!-- Resource jQuery -->
</body>
</html>