


{% block board %}
    <div class="row placeholders">

        <div class="col-xs-6 col-sm-3 col-sm-offset-1 placeholder">
            <img src="http://www.icone-png.com/png/54/53901.png" width="150" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4> <a href="{{ path('gestion_projet_home_platform_validate') }}"> Validés ({{ getNumberOfValide() }})</a></h4>
            <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="http://ihourlyquiz.com/images/twitquizlogo.jpg" width="150" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4><a href="{{ path('gestion_projet_home_platform_pending') }}"> En attente ({{ getNumberOfPending() }})</a></h4>
            <span class="text-muted"></span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://pixabay.com/static/uploads/photo/2013/07/12/12/40/abort-146072_960_720.png" width="150" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4><a href="{{ path('gestion_projet_home_platform_notValidate') }}"> Non validés ({{ getNumberOfNotValide() }})</a></h4>
            <span class="text-muted"></span>
        </div>
    </div>

{%endblock%}

