{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}

{% block body %}



    <div class="placeholders col-md-10 col-lg-10 col-md-offset-1">
        <div class="starter-template">
            <img id=logoensi" src="{{ asset('bundles/HomePlatformBundle/images/logoensi.jpg') }}" align="center" height="100" >
        <h1 class="page-header">Modalités de proposition des projets</h1>
            </div>
        <div class=" placeholder col-md-12"><p>
            <h4 class="infoMod">Vous trouverez dans cette rubrique l'ensemble des informations necessaires
                à prendre en compte avant de proposer un projet. N'hesitez pas à nous contacter par mail
                si vous avez des questions supplémentaires. </h4>
        </div>

        <br>
        <div class="placeholder row col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Type de prestation</h3>

                </div>
                <div class="panel-body">
                    Etude, prototypage, veille, recherche documentaire…
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Format de la prestation</h3>

                </div>
                <div class="panel-body ">
                    Un groupe d'élèves ingénieurs (1, 2 ou 3 élèves) en fin de cycle (3ème année) </br>
                    Temps consacré par élève et par semaine : 1 à 2 journées</br>
                    Début : mi-septembre</br>
                    Fin : mi-février</br>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Encadrement</h3>
                </div>

                <div class="panel-body">
                    Un tuteur école et un tuteur en entreprise.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Modalités pratiques</h3> <span
                            class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
                <div class="panel-body" style="display: none;">
                    Proposition d'un sujet au plus tard le 12 septembre 2015</br>
                    Présentation aux élèves ingénieurs le 25 septembre 2015</br>
                    Affectation des projets le 1er octobre 2015 (vœux entreprises et étudiants)</br>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Coût de la prestation</h3> <span
                            class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
                <div class="panel-body" style="display: none;">
                    La mise en œuvre d'un projet est assortie d'une convention et représente un coût hors taxes fixé
                    forfaitairement à 1 200 euros. Ce montant couvre l'ensemble de la prestation (encadrement, petit
                    consommable, entretien et renouvellement des équipements) à l'exclusion de tous les équipements ou
                    composants spéciaux et les licences d'exploitation, non disponibles à l'ENSICAEN.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Financements possibles</h3> <span
                            class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
                <div class="panel-body" style="display: none;">
                    OSEO, Crédit d’impôt, Prestation Technologique Réseau, Impulsion Conseil…
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Suites envisageables</h3> <span
                            class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
                <div class="panel-body" style="display: none;">
                    Stages de longue durée d'élèves ingénieurs dans l'entreprise (5 à 6 mois),</br>
                    Embauche d'ingénieurs de l'ENSICAEN,</br>
                    Thèse de doctorat, thèse CIFRE (aide ANRT)</br>
                    Prestation de R&D,</br>
                    Contrat de recherche</br>
                </div>
            </div>
        </div>


    </div>

    <script>


    </script>


{% endblock %}