{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}


    <div class="container  col-md-10 col-lg-10 col-md-offset-1">

        <div class="starter-template">
            <img id=logoensi" src="{{ asset('bundles/HomePlatformBundle/images/logoensi.jpg') }}" align="center" height="100" >
        <h1>Formulaire de proposition d'un projet </h1></br>
        </div>

        {{ form_start(form, {'attr': {'class': 'form-horizontal form-prop'}}) }}

        {# Le formulaire, avec URL de soumission vers la routea completer comme on l'a vu #}


        <div class="form-group">
            {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.entreprise, "Entreprise", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.intituleProjet, "Intitulé du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.intituleProjet, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, "Description du projet", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.mission, "Type de mission (1-etude, 2-prototypage, 3-veille, 4-recherche documentaire)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.mission, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.accompagnant, "Je viens accompagné de ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-2">
                {{ form_widget(form.accompagnant, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.present, "Je serai présent à la réunion", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-1">
                {{ form_widget(form.present, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.repas, "Je serai présent au repas", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-1">
                {{ form_widget(form.repas, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>



        {{ form_label(form.repas, "Fichier descriptif (optionnel)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(form.brochure) }}
        </div>



        <div class="form-group">
            <div class="form-group">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary col-sm-3 col-sm-offset-2 form-prop-save'}}) }}
            </div>
        </div>
    {{ form_rest(form) }}



    </div>

{% endblock %}
