<!DOCTYPE html>
<html>
<head>
   <!-- HTML meta refresh URL redirection -->
   <meta http-equiv="refresh"
   content="4; url={{ path('gestion_projet_home_platform_homepage') }}">
</head>
<body>
   Félicitation votre proposition de stage a bien été envoyée. Vous allez être redirigé vers l'acceuil dans 3 secondes.
</body>
</html>