{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="table-responsive">
    <h2>Liste de compte entreprise</h2>
    <table class="table table-striped">

        <tr>
            <th> ID </th>
            <th> Login </th>
            <th> Email </th>
            <th> Confirmé</th>
            <th> ToolBox</th>
        </tr>


        {% for account in listAccount %}
            <tr>
                <td> {{ account.id }} </td>
                <td> {{ account.username }} </td>
                <td> {{ account.email }} </td>
                <td>
                    {% if(account.enabled) %}
                        <img src="http://www.webasun.com/wp-content/themes/webasun-theme-2014/images/coche-verte.png" alt="Validé" height="32" width="32">
                    {% else %}
                        <img src="http://iconizer.net/files/Farm-fresh/orig/hourglass.png" alt="En attente" height="32" width="32">
                    {% endif %}


                </td>
                <td> supprimer / modifier / envoyer mail</td>


            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}


