{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}


    <div class="placeholders col-md-10 col-lg-10 col-md-offset-1">
    <div class="starter-template">
    <div class="table-responsive">
        <h1>Liste des demandes de création de compte</h1>
        </div>
        <table class="table table-striped">

            <tr>
                <th> Entrerprise</th>
                <th> Nom </th>
                <th> Prénom </th>
                <th> Créer le compte</th>
            </tr>


            {% for account in listAsking %}
                <tr>
                    <td> {{ account.entreprise }} </td>
                    <td> {{ account.nom}} </td>
                    <td> {{ account.prenom}} </td>
                    <td><a href="{{ path('gestion_projet_home_platform_add_account') }}">Créer le compte</a>  </td>


                </tr>
            {% endfor %}

        </table>
    </div>
    </div>
{% endblock %}