{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}




    <div class="placeholders col-md-10 col-lg-10 col-md-offset-1">
    <div class="starter-template">

        <h1 class="page-header">Vos propositions de projets</h1>
</div>
        <div class="table-responsive">
            <h2>Liste de projets</h2>
            <table class="table table-striped">

                <tr>
                    <th> Intitulé du projet </th>
                    <th> Description </th>
                    <th> Status </th>
                    <th> Détails </th>
                </tr>


                {% for proposition in listProposition %}
                    <tr>
                        <td> {{ proposition.intituleProjet }} </td>
                        <td> {{ proposition.description }} </td>
                            {% if  proposition.valide  == 0 %}
                        <td> <button type="button" class="btn btn-info">En attente</button></td>
                        {% endif %}
                        {% if proposition.valide  == 1 %}
                            <td> <button type="button" class="btn btn-success">Validé</button></td>
                        {% endif %}

                        {% if proposition.valide  == 2 %}
                            <td> <button type="button" class="btn btn-danger">Refusé</button></td>
                        {% endif %}

                        </td>
                        <td>
                            <a href="{{ path('gestion_projet_home_platform_propostion_in_detail', {'id': proposition.id}) }}">
                                <button type="button" class="btn btn-default">Voir détails</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}        </table>
        </div>
</div>

{% endblock %}