

{% block body %}

    <h1> Liste des projets validés de l'année 2016</h1>

    {% for proposition in listProposition %}
        <p>

        <h4 class="page-header">Le projet en détail : </h4>
        <h5> Intitulé : {{ proposition.intituleProjet }}</h5>
        <h5> Type de projet : {{ proposition.mission }}</h5>
        <h5> Entreprise : {{ proposition.entreprise }}</h5>
        <h5> Nom : {{ proposition.nom }} </h5>
        <h5> Prenom : {{ proposition.prenom }} </h5>
        <h5> Resumé : </h5>
        <h6>{{ proposition.description }}</h6>
</p>
{% endfor %}

{% endblock %}

