{% extends 'GestionProjetHomePlatformBundle::layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

 <div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-2 main">

     <h1 class="page-header">Le projet en détail : </h1>
     <h3> Intitulé : {{ proposition.intituleProjet }}</h3>
     <h3> Type de projet : {{ proposition.mission }}</h3>
     <h3> Entreprise : {{ proposition.entreprise }}</h3>
     <h3> Nom : {{ proposition.nom }} </h3>
     <h3> Prenom : {{ proposition.prenom }} </h3>
    {% if proposition.brochure %}
     <h3> Sujet en détail : <a href="{{ asset('uploads/brochures/' ~ proposition.brochure) }}">Voir détail (PDF)</a> </h3>
     {% endif %}
     <h3> Resumé : </h3>
     <h4>{{ proposition.description }}</h4>



     {% if is_granted('ROLE_ADMIN') %}

     {% if proposition.valide == 0 %}
        <a href="{{ path('gestion_projet_home_platform_validation_project', {'id': proposition.id, 'state' : 1}) }}">
            <button type="button" class="btn btn-success">Valider le projet</button>
        </a>
        <button type="button" class="btn btn-default">Contacter</button>
     <a href="{{ path('gestion_projet_home_platform_validation_project', {'id': proposition.id, 'state' : 2}) }}">
        <button type="button" class="btn btn-danger">Refuser le projet</button>
         </a>
     {% endif %}

     {% if proposition.valide == 1 %}
     <a href="{{ path('gestion_projet_home_platform_validation_project', {'id': proposition.id, 'state' : 2}) }}">
     <button type="button" class="btn btn-danger"> Dévalider le projet </button>
         </a>
     <button type="button" class="btn btn-default">Contacter</button>
     {% endif %}



     {% if proposition.valide == 2 %}
     <a href="{{ path('gestion_projet_home_platform_validation_project', {'id': proposition.id, 'state' : 1}) }}">
     <button type="button" class="btn btn-danger"> Valider quand même le projet </button>
         </a>
     <button type="button" class="btn btn-default">Contacter</button>
     {% endif %}

     {% endif %}

     {% if is_granted('ROLE_USER') %}
     <a href="{{ path('gestion_projet_home_platform_delete_proposition', {'id': proposition.id}) }}">
         <button type="button" class="btn btn-danger"> Supprimer cette proposition </button>
     </a>

         </div>
     {% endif %}




{% endblock %}


