{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}






    <h1 class="page-header">Tableau de bord</h1>
    {% include 'GestionProjetHomePlatformBundle:Default:leftBoard.html.twig' ignore missing %}


    <div class="table-responsive">
        <h2>Liste de projets </h2> <h6><a href="{{ path('gestion_projet_home_platform_view_all_projects_to_print') }}"> [<span class="glyphicon glyphicon-print"></span> Version imprimable - uniquement validés]</h6></a>
        {% include 'GestionProjetHomePlatformBundle:Default:headerArrayProposition.html.twig' ignore missing %}
    </div>


{% endblock %}