{% extends "GestionProjetHomePlatformBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}





    <h1 class="page-header">Tableau de bord</h1>

    {% include 'GestionProjetHomePlatformBundle:Default:leftBoard.html.twig' ignore missing %}


    <div class="table-responsive">
        <h2>Liste de projets</h2>
        {% include 'GestionProjetHomePlatformBundle:Default:headerArrayProposition.html.twig' ignore missing %}
    </div>

{% endblock %}